In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os

In [ ]:
!pip install plotly_express

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting plotly_express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.7.3)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.3.5)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (5.5.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.12.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly_express) (0.5.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly_express) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly_express) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly_express) (8.1.0)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [ ]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 4.8 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 34.4 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 32.0 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.6)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly_express as px
import geopandas as gpd
import plotly.graph_objects as go

%matplotlib inline

In [ ]:
df=pd.read_csv('gap.csv',delimiter=',')

In [ ]:
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,WAGEGAP,EMPLOYEE,PC,A,1975,21.582734,NaN
1,AUS,WAGEGAP,EMPLOYEE,PC,A,1976,20.754717,NaN
2,AUS,WAGEGAP,EMPLOYEE,PC,A,1977,18.390805,NaN
3,AUS,WAGEGAP,EMPLOYEE,PC,A,1978,19.791667,NaN
4,AUS,WAGEGAP,EMPLOYEE,PC,A,1979,20.000000,NaN
...,...,...,...,...,...,...,...,...
1239,BRA,WAGEGAP,EMPLOYEE,PC,A,2017,13.333333,NaN
1240,BRA,WAGEGAP,EMPLOYEE,PC,A,2018,10.666667,NaN
1241,BRA,WAGEGAP,EMPLOYEE,PC,A,2019,6.666667,NaN
1242,BRA,WAGEGAP,EMPLOYEE,PC,A,2020,6.250000,NaN
1243,BRA,WAGEGAP,EMPLOYEE,PC,A,2021,9.090909,NaN

In [ ]:
df = df.drop('Flag Codes', axis=1)

In [ ]:
df.columns= df.columns.str.lower()

In [ ]:
df.head()

  location indicator   subject measure frequency  time      value
0      AUS   WAGEGAP  EMPLOYEE      PC         A  1975  21.582734
1      AUS   WAGEGAP  EMPLOYEE      PC         A  1976  20.754717
2      AUS   WAGEGAP  EMPLOYEE      PC         A  1977  18.390805
3      AUS   WAGEGAP  EMPLOYEE      PC         A  1978  19.791667
4      AUS   WAGEGAP  EMPLOYEE      PC         A  1979  20.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   1244 non-null   object
 1   indicator  1244 non-null   object
 2   subject    1244 non-null   object
 3   measure    1244 non-null   object
 4   frequency  1244 non-null   object
 5   time       1244 non-null   int64
 6   value      1244 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 68.2+ KB

In [ ]:
df['value'] = df['value'].astype(str)

In [ ]:
df['value']=df['value'].str.replace(".", "")
df['value'] = df['value'].str[:2]
df['value']=df['value'].astype(float)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

     location indicator   subject measure frequency  time  value
0         AUS   WAGEGAP  EMPLOYEE      PC         A  1975   21.0
1         AUS   WAGEGAP  EMPLOYEE      PC         A  1976   20.0
2         AUS   WAGEGAP  EMPLOYEE      PC         A  1977   18.0
3         AUS   WAGEGAP  EMPLOYEE      PC         A  1978   19.0
4         AUS   WAGEGAP  EMPLOYEE      PC         A  1979   20.0
...       ...       ...       ...     ...       ...   ...    ...
1239      BRA   WAGEGAP  EMPLOYEE      PC         A  2017   13.0
1240      BRA   WAGEGAP  EMPLOYEE      PC         A  2018   10.0
1241      BRA   WAGEGAP  EMPLOYEE      PC         A  2019   66.0
1242      BRA   WAGEGAP  EMPLOYEE      PC         A  2020   62.0
1243      BRA   WAGEGAP  EMPLOYEE      PC         A  2021   90.0

[1244 rows x 7 columns]

In [ ]:
df['value'].describe()

count    1244.000000
mean       31.895498
std        20.899838
min        -8.000000
25%        17.000000
50%        26.000000
75%        40.000000
max        99.000000
Name: value, dtype: float64

In [ ]:
df=df.drop(['indicator','measure','frequency'],axis=1)

In [ ]:
df=df.sort_values(by=['time'])

In [ ]:
df1=df[df['time']>=2000]

In [ ]:
value_revise= lambda x : x/10 if (x > 42 ) else x

In [ ]:
df1['value_new']=df1['value'].apply(value_revise)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df1.describe()

              time        value    value_new
count  1047.000000  1047.000000  1047.000000
mean   2011.066858    32.429799    18.347851
std       5.520804    21.861737    10.661355
min    2000.000000    -8.000000    -8.000000
25%    2006.000000    16.000000     9.800000
50%    2011.000000    26.000000    16.000000
75%    2016.000000    41.000000    27.000000
max    2021.000000    99.000000    42.000000

In [ ]:
df1 = df1.drop('value', axis=1)

In [ ]:
import numpy as np
  
# converting 'Field_2' from float to int
df1['value_new'] = df1['value_new'].apply(np.int64)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047 entries, 679 to 1243
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   1047 non-null   object
 1   subject    1047 non-null   object
 2   time       1047 non-null   int64
 3   value_new  1047 non-null   int64
dtypes: int64(2), object(2)
memory usage: 40.9+ KB

In [ ]:
df1

     location   subject  time  value_new
679       NOR  EMPLOYEE  2000          9
137       CAN  EMPLOYEE  2000         23
995       USA  EMPLOYEE  2000         23
930       GBR  EMPLOYEE  2000         26
388       HUN  EMPLOYEE  2000         14
...       ...       ...   ...        ...
580       MEX  EMPLOYEE  2021         12
658       NZL  EMPLOYEE  2021          6
1016      USA  EMPLOYEE  2021         16
1233      ARG  EMPLOYEE  2021          6
1243      BRA  EMPLOYEE  2021          9

[1047 rows x 4 columns]

In [ ]:
df1.to_csv(r'gap_fix_world.csv', index=False)

In [ ]:
fig = px.choropleth(df1,locations='location',color='value_new',scope='world',color_continuous_scale=px.colors.sequential.GnBu,
                    range_color=(-10,45),title='Gender Wage Gap',height=700,animation_frame ='time'
    )
fig.show()

In [ ]:
df_jap=df1[df1['location']=='JPN']

In [ ]:
df_jap.head()

    location   subject  time  value  value_new
492      JPN  EMPLOYEE  2000   33.0       33.0
493      JPN  EMPLOYEE  2001   33.0       33.0
494      JPN  EMPLOYEE  2002   32.0       32.0
495      JPN  EMPLOYEE  2003   31.0       31.0
496      JPN  EMPLOYEE  2004   31.0       31.0

In [ ]:
len(df_jap.index)

22

In [ ]:
df_jap['ave_wage']=[38364,37982,37228,37254,37882,38879,38859,38849,38742,38448,37950,38085,38699,38057,38103,37438,
                    37264,37810,37972,38461,39041,38514]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_jap['female_labour']=[27525,27603,27335,27330,27326,27369,27497,27612,27679,27707,27820,27828,27700,27693,28095,
                       28317,28517,28949,29435,30242,30722,30633]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_jap['total_labour']=[67662,67518,66890,66663,66420,66489,66505,66638,66843,66740,66500,66317,65955,65651,65927,
                       66087,66250,66785,67323,68491,69121,69022]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_jap['female_labour_ratio']=df_jap['female_labour']/df_jap['total_labour']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_jap=df_jap.drop('value',axis=1)

In [ ]:
df_jap

,location,subject,time,value_new,ave_wage,female_labour,total_labour,female_labour_ratio
492,JPN,EMPLOYEE,2000,33.0,38364,27525,67662,0.406801
493,JPN,EMPLOYEE,2001,33.0,37982,27603,67518,0.408824
494,JPN,EMPLOYEE,2002,32.0,37228,27335,66890,0.408656
495,JPN,EMPLOYEE,2003,31.0,37254,27330,66663,0.409973
496,JPN,EMPLOYEE,2004,31.0,37882,27326,66420,0.411412
497,JPN,EMPLOYEE,2005,32.0,38879,27369,66489,0.411632
498,JPN,EMPLOYEE,2006,32.0,38859,27497,66505,0.413458
499,JPN,EMPLOYEE,2007,31.0,38849,27612,66638,0.414358
500,JPN,EMPLOYEE,2008,30.0,38742,27679,66843,0.414090
501,JPN,EMPLOYEE,2009,28.0,38448,27707,66740,0.415148
502,JPN,EMPLOYEE,2010,28.0,37950,27820,66500,0.418346
503,JPN,EMPLOYEE,2011,27.0,38085,27828,66317,0.419621
504,JPN,EMPLOYEE,2012,26.0,38699,27700,65955,0.419983
505,JPN,EMPLOYEE,2013,26.0,38057,27693,65651,0.421821
506,JPN,EMPLOYEE,2014,25.0,38103,28095,65927,0.426153
507,JPN,EMPLOYEE,2015,25.0,37438,28317,66087,0.428481
508,JPN,EMPLOYEE,2016,24.0,37264,28517,66250,0.430445
509,JPN,EMPLOYEE,2017,24.0,37810,28949,66785,0.433466
510,JPN,EMPLOYEE,2018,23.0,37972,29435,67323,0.437221
511,JPN,EMPLOYEE,2019,23.0,38461,30242,68491,0.441547
512,JPN,EMPLOYEE,2020,22.0,39041,30722,69121,0.444467
513,JPN,EMPLOYEE,2021,22.0,38514,30633,69022,0.443815

In [ ]:
df_jap.to_csv(r'gap_fix.csv', index=False)